<div class="LeftPanel">
    <a href="#" class="BackButton"><i>Back</i></a>
    <h1 id="Caption" style="display:none">Select account to transfer from</h1>
</div>

<div class="Statement">
    <div class="Header">Nearest ATMs</div>
    <div class="transactions">
        <div class='Line'>
            <div class='DTS'>
                <i id="ATM273" class="fa fa-location-arrow" data-heading=45 style="transform:rotate(-7deg); -ms-transform:rotate(-7deg); -webkit-transform:rotate(-7deg);"></i>230m
            </div>
            <div class="Narrative">ATM#372 Mall of the Emirates, ground floor, next to food-court</div>
            <div class='ATMStatus Open'>Open</div>
        </div>
        <div class='Line'>
            <div class='DTS'>
                <i id="ATM103" class="fa fa-location-arrow" data-heading=-102 style="transform:rotate(7deg); -ms-transform:rotate(7deg); -webkit-transform:rotate(7deg);"></i>570m
            </div>
            <div class="Narrative">ATM#103 Eppco petrol station, Sheikh Zayed road</div>
            <div class='ATMStatus Open'>Cashin Open</div>
        </div>
        <div class='Line'>
            <div class='DTS'>
                <i id="ATM218" class="fa fa-location-arrow" data-heading=-23 style="transform:rotate(27deg); -ms-transform:rotate(27deg); -webkit-transform:rotate(27deg);"></i>570m
            </div>
            <div class="Narrative">ATM#218 Spinneys Al Barsha</div>
            <div class='ATMStatus Open'>Open</div>
        </div>
        <div class='Line'>
            <div class='DTS'>
                <i id="ATM421" class="fa fa-location-arrow" data-heading=-33 style="transform:rotate(98deg); -ms-transform:rotate(98deg); -webkit-transform:rotate(98deg);"></i>1420m
            </div>
            <div class="Narrative">ATM#421 Sharaf DG metro station</div>
            <div class='ATMStatus Open'>Open</div>
        </div>
        <div class='Line'>
            <div class='DTS'>
                <i id="ATM105" class="fa fa-location-arrow" data-heading=-123 style="transform:rotate(160deg); -ms-transform:rotate(160deg); -webkit-transform:rotate(160deg);"></i>1790m
            </div>
            <div class="Narrative">ATM#105 EMAAR Business Centre</div>
            <div class='ATMStatus Open'>Open</div>
        </div>
    </div>
    <div style="height:200px;"></div>
    </div>
</div>


