<div ng-controller="MainController">
    <div class="metro-layout Horizontal">
        <div class="clearfix">
            <div class="items isotope" ng-init="TheM.accounts.doUpdate(); TheM.cards.doUpdate()">
                <a class="box height2 {{account.bgclass}}" title="{{account.type}}" ng-repeat="account in TheM.accounts | filter:{isMain:true}" href="#/statement?id={{account.id}}">
                    <div class="name" ng-bind="account.name"></div>
                    <small ng-bind="account.num"></small>
                    <!--
                    <div ng-controller="LineCtrl" >
                        <canvas id="line" height="110" class="chart chart-bar" data="data" options="options" labels="labels" legend="false" series="series" click="onClick"></canvas>
                    </div>
-->
                    <div class="ministatement" ng-init="TheM.accounts[0].transactions.doUpdate()">
                        <div class="transaction" ng-repeat="transaction in account.transactions | limitTo:9 ">
                            <div class="dts" title='{{transaction.postingDate}} {{transaction.postingTime}}'>{{transaction.DTSValue | DateShort}}</div>
                            <div class="narrative" ng-bind="transaction.narrative"></div>
                            <div class="amount" title="{{transaction.amount}} {{transaction.currency}}">{{transaction.amount | abs}}.{{transaction.amount | fraction}}
                            </div>
                        </div>
                    </div>
                    <div class="ministatementhider"></div>
                    <div class="account-balance-tile">
                        <div class="amount-tile" title="{{account.balance.homecurrencybalance}} {{account.balance.homecurrency}}">{{account.balance.native | abs}}</div>
                        <div class="decimal">.{{account.balance.native | fraction}}</div>
                        <div class="currency-tile">{{account.balance.currency}}</div>
                    </div>
                </a>
                <a class="box {{account.bgclass}}" title="{{account.type}}" ng-repeat="account in TheM.accounts | filter:{isMain:false}" href="#/statement?id={{account.id}}">
                    <div class="name" ng-bind="account.name"></div>
                    <small ng-bind="account.num"></small>
                    <div class="deposit-accrual" ng-if="account.bgclass==='deposit'">
                        <div class="days">in 3 days</div>
                        <div class="amountBlock">
                            <div class="amount">+10</div>
                            <div class="decimal">.33</div>
                            <div class="currency">AED</div>
                        </div>
                    </div>
                    <div class="loan-repayment" ng-if="account.bgclass==='credit'">
                        <div class="days">in 3 days</div>
                        <div class="amountBlock">
                            <div class="amount">2</div>
                            <div class="decimal">.84</div>
                            <div class="currency">AED</div>
                        </div>
                    </div>
                    <div class="account-balance-tile">
                        <div class="amount-tile" title="{{account.balance.homecurrencybalance}} {{account.balance.homecurrency}}">{{account.balance.native | abs}}</div>
                        <div class="decimal">.{{account.balance.native | fraction}}</div>
                        <div class="currency-tile">{{account.balance.currency}}</div>
                    </div>
                </a>
                <a class="box" href="#/card?id={{card.cardId}}" ng-repeat="card in TheM.cards">
                    <div class="name" ng-bind="card.name"></div>
                    <small>{{card.num}}   {{card.expiryForDisplay}}</small>
                    <img class="card" ng-class="card.bgclass" ng-src="{{card.image}}" />
                </a>
                <a class="box addanew" href="#/topup" style="background: #00a9ec;">
                    <span>Topup <i class="fa fa-plus-circle"></i></span>
                    <div>add money onto account</div>
                </a>

                <a class="box addanew" href="#/newproduct" style="background: #00a9ec;">
                    <span>Add a new <i class="fa fa-plus-circle"></i></span>
                    <div>account, deposit or a loan</div>
                </a>
            </div>
        </div>
        <div class="clearfix" ng-init="TheM.beneficiaries.doUpdate()">
            <div class="items isotope">
                <a class="box" href="#/fundstransfer" ng-if="TheM.restrictions.isTransactionAllowed('1')">
                    <div class="title">Funds transfer</div>
                    <div class="hint">within own accounts</div>
                </a>
                <a class="box beneficiary" ng-repeat="beneficiary in TheM.beneficiaries" href="#/beneficiary?id={{beneficiary.id}}">
                    <div class="currency">{{beneficiary.currency}}</div>
                    <div class="amount">{{beneficiary.defaultAmount | abs}}</div>
                    <div class="decimal">{{beneficiary.defaultAmount | fraction}}</div>
                    <div class="type">{{beneficiary.typeForDisplay}}</div>
                    <div class="name">{{beneficiary.nickname}}</div>
                    <img class="photo" ng-src="images/faces/{{beneficiary.photo}}" alt="{{beneficiary.nickname}}" ng-show="beneficiary.hasPhoto" />
                </a>

                <a class="box addanew" href="#/newbeneficiary">
                    <span>Add a new <i class="fa fa-plus-circle"></i></span>
                    <div>beneficiary or a utility</div>
                </a>

            </div>
        </div>

        <div class="clearfix">
            <div class="items isotope">
                <a class="box rates" href="#/fxrates" ng-init="TheM.fxrates.doUpdate()">
                    <div class="title">Exchange rates</div>
                    <div class="rate" ng-repeat="fxrate in TheM.fxrates | orderBy:['-isCommon'] | limitTo: 7">
                        <div ng-show="fxrate.src!==fxrate.dst">
                            <div class="name">{{fxrate.src}}:{{fxrate.dst}}</div>
                            <div class="value" ng-bind="fxrate.buy | number:3"></div>
                            <div class="value" ng-bind="fxrate.sell | number:3"></div>
                        </div>
                    </div>
                </a>
                <a class="box tile" href="#/ATMs">
                    <div class="title">Nearest ATMs</div>
                    <i id="imgLogo" class="fa fa-location-arrow"></i>
                </a>
                <a class="box tile" href="#/settings">
                    <div class="title">Settings</div>
                    <i class="fa fa-cog"></i>
                </a>
                <a class="box tile">
                    <div class="title">Support</div>
                    <i class="fa fa-question"></i>
                </a>
                <a class="box personalbanker" href="#/messages" ng-init="TheM.pbanker.doUpdate()" ng-if="TheM.pbanker.enabled">
                    <div class="title" ng-bind="TheM.pbanker.name"></div>
                    <div class="hint" ng-bind="TheM.pbanker.title">personal banker</div>
                    <div class="phone" ng-bind="TheM.pbanker.phone">
                    </div>
                    <img class="photo" ng-src="images/faces/{{TheM.pbanker.photo}}" alt="TheM.pbanker.name" ng-show="TheM.pbanker.hasPhoto" //>
                </a>
                <a class="box tile" href="#">
                    <div class="title">Other services</div>
                    <div class="hint"></div>
                </a>

            </div>
        </div>

    </div>
</div>
