<div class="LeftPanel">
    <a href="#" class="BackButton"><i>Back</i></a>
</div>

<div class="RightPanel">
    <div class="metro-layout Horizontal">
        <div class="clearfix">
            <h1>New beneficiary</h1>
            <div class="items">
                <a class="box" href="#/writeacheque">
                    <div class="name">Write a cheque</div>
                    <small>AWSM will write and mail a cheque</small>
                    <div class="Minipics">
                        <img src="images/cheque.jpg" alt="" style="width:50%">
                    </div>
                </a>
                <a class="box" href="#/newbeneficiarymobiletopup">
                    <div class="name">Mobile topup</div>
                    <div class="Minipics">
                        <img src="images/etisalat.png" alt="">
                        <img src="images/du.png" alt="">
                        <img src="images/thuraya.png" alt="">
                    </div>
                </a>
                <a class="box" href="#">
                    <div class="name">Salik</div>
                    <small>Toll roads</small>
                </a>
                <a class="box" href="#/newbeneficiaryutilities">
                    <div class="name">Utilities</div>
                    <small>ADDC, DEWA, FEWA, etc.</small>
                </a>
                <a class="box" href="#/newbeneficiaryschools">
                    <div class="name">Schools</div>
                    <small>and some kindergartens</small>
                </a>
                <a class="box" href="#">
                    <div class="name">Charities</div>
                    <small>Carefully selected and properly licensed</small>
                </a>
                <a class="box height2">
                    <div class="name">Airlines</div>
                    <small>Get extra airmiles with every payment</small>
                    <img src="images/EtihadBlack.jpg" style="margin-top:20px;margin-bottom:20px;" alt="">
                    <div class="hint">Etihad</div>
                    <div class="hint">Emirates</div>
                    <div class="hint">FlyDubai</div>
                    <div class="hint">AirArabia</div>
                </a>
                <a class="box" href="#/newbeneficiarysamebank">
                    <div class="name">Within the AWSM</div>
                    <small>Instant same-bank transfer</small>
                </a>
                <a class="box" href="#/newbeneficiaryotheruae">
                    <div class="name">Other bank in UAE</div>
                    <small>Next business day transfer</small>
                </a>
                <a class="box">
                    <div class="name">International
                        <br />funds transfer</div>
                    <small>Slow but reliable</small>
                </a>
                <a class="box">
                    <div class="name">Western Union</div>
                    <small>Instant transfer to anywhere in the world</small>
                </a>
                <a class="box">
                    <div class="name">Any VISA or MasterCard</div>
                    <small>Instant card-to-card transfer</small>
                </a>
            </div>
            <div style="height:20px;"></div>
        </div>
    </div>
</div>
