<header>
    Settings
</header>

<div class="clearfix">
    <h2>Notifications</h2>
    <a class="optionbox Med " ng-class="{'checked': mydata.notifications.onBalanceChange, 'unchecked': !mydata.notifications.onBalanceChange}" ng-click="mydata.notifications.onBalanceChange = !mydata.notifications.onBalanceChange">
        <div class="name">Balance change</div>
        <div class="hint" ng-show="mydata.notifications.onBalanceChange">Message will be sent everytime balance changes</div>
        <div class="hint" ng-show="!mydata.notifications.onBalanceChange">Balance updates disabled</div>
    </a>
    <a class="optionbox Med " ng-class="{'checked': mydata.notifications.onLoanDue, 'unchecked': !mydata.notifications.onLoanDue}" ng-click="mydata.notifications.onLoanDue = !mydata.notifications.onLoanDue">
        <div class="name">Loan repayment</div>
        <div class="hint" ng-show="mydata.notifications.onLoanDue">You will be notified in advance of loan repayment days</div>
        <div class="hint" ng-show="!mydata.notifications.onLoanDue">No messages when loans get due</div>
    </a>
    <a class="optionbox Med " ng-class="{'checked': mydata.notifications.onDepositExpity, 'unchecked': !mydata.notifications.onDepositExpity}" ng-click="mydata.notifications.onDepositExpity = !mydata.notifications.onDepositExpity">
        <div class="name">Deposit expiration</div>
        <div class="hint" ng-show="mydata.notifications.onDepositExpity">Message will be sent prior to deposit expiration</div>
        <div class="hint" ng-show="!mydata.notifications.onDepositExpity">No messages when deposit is about to expire</div>
    </a>
</div>

<div style="height:20px;"></div>
<div style="display:inline-block">
    <h2>Profile</h2>
    <a class="box" href="#/emailandphone">
        <div class="name">Phone and email</div>
        <div class="hint" ng-bind="mydata.user.email"></div>
        <div class="hint" ng-bind="mydata.user.mobile"></div>
    </a>
    <a class="box" href="#/personaldetails">
        <div class="name">Personal details</div>
        <div class="hint">Address, passport, etc.</div>
    </a>
</div>
<div style="height:20px;"></div>
<div style="display:inline-block">
    <div class="clearfix">
        <h2>Language</h2>

            <a class="microCur Long inline " ng-class="{'checked': lng.code===model.user.language.code, 'unchecked': !(lng.code===model.user.language.code)}" ng-repeat="lng in model.languages | limitTo: 3" ng-bind="lng.name" ng-click="model.user.language=lng;"></a>


    </div>



</div>
