<div ng-controller="StatementController">
    <div class="LeftPanel">
        <a href="#" class="BackButton"><i>Back</i></a>
        <div class="AccountDetails">
            <div class="humble"><span ng-if="account.isActive===false">Blocked </span>{{account.type}} account #{{account.num}} named <i>{{account.name}}</i>. Opened on {{account.DTSOpened | Date}}</div>
            <!-- div class="humble">Name</div>
			<div class="value">Current</div>
			<div class="humble">Number</div>
			<div class="value">91809820398019820398</div>
			<div class="humble">Type</div>
			<div class="value">Current account</div>
			<div classno="humble">Date opened</div>
			<div class="value">04/06/2012</div>
			<div class="humble">Status</div>
			<div class="value">Active</div -->
            <div class="humble">Latest balance:</div>
            <div class="text" title="{{account.balance.homecurrencybalance}} {{mydata.user.homecurrency}}">{{account.balance.native}} {{account.balance.currency}}</div>
            <div style="height:20px;"></div>
            <div class="humble">Statement period</div>
            <ul class="buttonpack">
                <li class="box" ng-click="customStatement('lastWeek')">Past week</li>
                <li class="box" ng-click="customStatement('lastMonth')">Past month</li>
                <li class="box" ng-click="customStatement('pastMonth')">Previous month</li>
                <li class="box" ng-click="customStatement('lastYear')">Past year</li>
                <li class="box" ng-click="">Show credits only</li>
                <li class="box" ng-click="customStatement('lastYear')">Manage the account</li>
            </ul>
        </div>
    </div>
    <div class="Statement">
        <div class="Header">Transaction statement</div>
        <div class="transactions">
            <div class='Line' ng-repeat="transaction in account.transactions  ">
                <div class='DTS' title='{{transaction.DTSBooked | DateTime}}'>{{transaction.DTSValue | Date}}<span class="humble" ng-bind="transaction.DTSValue | Time"></span>
                </div>
                <div class="Narrative" title="{{transaction.transactionstate}}, {{transaction.txntypename}}">{{transaction.narrative}}</div>
                <div class='Amount {{transaction.amountClass}}'><span class='debit'>{{transaction.amount | abs}}<span class='humble'>.{{transaction.amount | fraction}}</span> {{transaction.currency}}</span>
                </div>
            </div>
        </div>
        <div ng-if="(account.transactions.length<1)||(!account.transactions)">No transactions here yet</div>
        <button id="LoadMore" type="button" ng-click="action('prevPage')">Load more</button>
    </div>
</div>







