<!DOCTYPE html>
<html lang="en" ng-app="theApp">

<head xmlns:ng="http://angularjs.org" id="ng-app" lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>AWSM4</title>
    <link rel="stylesheet" type="text/css" media="all" href="css/metro.css" />
    <link rel="stylesheet" type="text/css" media="all" href="css/site.css" />

    <script type='text/javascript' src="js/deepCopy_min.js" async></script>
    <script type='text/javascript' src="js/lz-string.js"></script>
    <script type='text/javascript' src="js/Utils.js"></script>
    <script type='text/javascript' src="js/script.js"></script>
    <script type='text/javascript' src="js/model_user.js"></script>
    <script type='text/javascript' src="js/model_accounts.js"></script>
    <script type='text/javascript' src="js/model_cards.js"></script>
    <script type='text/javascript' src="js/model_beneficiaries.js"></script>
    <script type='text/javascript' src="js/model_fundstransfer.js"></script>
    <script type='text/javascript' src="js/model_fxrates.js"></script>
    <script type='text/javascript' src="js/model_notificationsOnScreen.js"></script>
    <script type='text/javascript' src="js/model_restrictions.js"></script>
    <script type='text/javascript' src="js/model_pbanker.js"></script>
    <script type='text/javascript' src="js/lib/angular.js"></script>
    <script type='text/javascript' src="js/lib/angular-route.js"></script>
    <script type='text/javascript' src="js/lib/moment.min.js"></script>
    <script type='text/javascript' src="js/app.js"></script>
    <script type='text/javascript' src="js/appFilters.js"></script>
    <!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>


<body ng-controller="GeneralController" ng-init="TheM.user.doFetchAll()">
    <a ng-if="TheM.user.isAuthenticated" class="logout" title="Exit" ng-click="TheM.user.doLogout()">Logout</a>
    <div id="loading" ng-if="TheM.loading>0"></div>
    <div class="logo">AWSM</div>
    <div class="lastMessages">
        <div ng-repeat="msg in TheM.notificationsOnscreen.all | limitTo:3">{{msg.text}}</div>
    </div>
    <ng-view />
</body>

</html>
